<h1>Edit Movie</h1>
<%= form_for @movie do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_field :description %>

	<%= f.label :year_released %>
	<%= f.text_field :year_released %>

	<%= f.label :rating %>
	<%= f.text_field :rating %>

	<%= f.submit %>

<% end %>
<%= link_to "Home", root_path %>